.wallpaper {
    background-color: silver;
}

.container {
    max-width: 1024px;
    height:  200vh;
    background-color: white;
    margin: auto;
    border: 0;
    position: relative;
    top: 0px;
    left: 0px;
}

.bar1 {
    width: calc(100%);
    height: calc(5%);
    background-color: aqua;
    position: relative;
    top: 0px;
    left: 0px;
}

.bar2 {
    width: calc(100%);
    height: calc(5%);
    background-color: darkblue;
    position: static;
    z-index: 2;
    position: sticky;
    top: 0px;
}

.box1 {
    width: calc(43%);
    height: calc(33%);
    background-color: darkolivegreen;
    position: absolute;
    top: calc(11%);
}

.box2 {
    width: calc(55%);
    height: calc(33%);
    background-color: purple;
    position: absolute;
    top: calc(11%);
    left: calc(45%);
}

.bar3 {
    width: calc(100%);
    height: calc(10%);
    background-color: lightblue;
    position: relative;
    top: calc(35%);
}

.button {
    width: 120px;
    height: 50px;
    background-color: black;
    position: fixed;
    left: calc(50% - 50px);
    bottom: -10px;
    border-radius: 200px;    
    z-index: 2;
}